<div class="bg-gradient-to-b from-black via-transparent to-stone-700 rounded-xl py-24 sm:py-28 h-full">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <p class="text-4xl font-bold tracking-tight text-orange-500 sm:text-5xl">Welcome to ADShopping</p>
    </div>
    <p class="mx-auto max-w-2xl text-center text-lg leading-8 text-gray-300">
      <span class="text-center"> Take a look at these products!</span><br/>
      <span>If it's not what you're looking for, no problem, check out all our products <%=link_to "here", products_path, class: "text-blue-400 underline" %><br/></span>
      <span class="text-sm italic"> &larr; Feel free to search for a specific brand </span>
    </p>

    
    <div class="isolate mx-auto mt-28 grid max-w-md grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <% @products.each do |product| %>
        <div class="rounded-3xl p-8 xl:p-10 ring-2 ring-white/10 hover:ring-orange-500 h-96">
          <div class="h-1/4 flex  justify-between gap-x-4 -mt-4">
            <h3 class="text-sm font-semibold leading-8 text-white"><%= product.label_name %>...</h3>
          </div>
          <%= image_tag product.image.url, class: "h-2/4 justify-center rounded-xl", style: 'max-width: 150px; margin: 0 auto;' %>
          <span class="h-1/4">
            <p class="align-bottom mt-6 flex items-baseline gap-x-1 mb-2">
              <span class="text-3xl font-bold tracking-tight text-white">$<%= product.price %></span>
              <span class="text-xs font-semibold leading-6 text-gray-300">&nbsp;/&nbsp; <span class="text-yellow-300" ><%=product.rating %> &starf;</span> (<%= product.rating_count%>)</span>
            </p>
            <%= link_to product_path(product), class: "mb-2 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 bg-orange-500 text-white shadow-sm hover:bg-orange-400 focus-visible:outline-orange-500" do %>
              Visit page
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
