<!DOCTYPE html>
<html>
  <head>
    <title>ADShopping</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
  
      <!-- Static sidebar for desktop -->
      <% unless ["devise/sessions", "devise/registrations"].include? params[:controller] %>
        <div class="hidden lg:fixed lg:inset-y-0 lg:flex lg:w-64 lg:flex-col">
          <!-- Sidebar component, swap this element with another sidebar if you like -->
          <div class="flex min-h-0 flex-1 flex-col bg-black border-r-2  border-gray-700">
            <div class="flex flex-1 flex-col overflow-y-auto pt-5 pb-4">
              <div class="flex flex-shrink-0 items-center px-2 -mt-8 w-full">
                <%= image_tag "logo.png", class: "h-15 -ml-3" %>
              </div>
              <nav class="flex-1 space-y-1 px-2">
                <%= link_to root_path, class: "text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 font-medium" do %>
                  <svg class="text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                  </svg>
                  Home
                <% end %>

                <button onclick="toggleProducts()" class="w-full text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 font-medium">
                  <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                  </svg>
                  Products
                  <svg id="products-arrow-down" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="ml-2 mt-0.5 w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                  </svg>
                  <svg id="products-arrow-up" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="hidden ml-2 mt-0.5 w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
                  </svg>
                </button>

                <div id="products" class="hidden">
                  <a href="#" class="text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 font-medium text-sm">
                    <svg class="text-white group-hover:text-white mx-3 h-4 w-4 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
                    </svg>
                    Electronics
                  </a>
                  <a href="#" class="text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 font-medium text-sm">
                    <svg class="text-white group-hover:text-white mx-3 h-4 w-4 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 6.087c0-.355.186-.676.401-.959.221-.29.349-.634.349-1.003 0-1.036-1.007-1.875-2.25-1.875s-2.25.84-2.25 1.875c0 .369.128.713.349 1.003.215.283.401.604.401.959v0a.64.64 0 01-.657.643 48.39 48.39 0 01-4.163-.3c.186 1.613.293 3.25.315 4.907a.656.656 0 01-.658.663v0c-.355 0-.676-.186-.959-.401a1.647 1.647 0 00-1.003-.349c-1.036 0-1.875 1.007-1.875 2.25s.84 2.25 1.875 2.25c.369 0 .713-.128 1.003-.349.283-.215.604-.401.959-.401v0c.31 0 .555.26.532.57a48.039 48.039 0 01-.642 5.056c1.518.19 3.058.309 4.616.354a.64.64 0 00.657-.643v0c0-.355-.186-.676-.401-.959a1.647 1.647 0 01-.349-1.003c0-1.035 1.008-1.875 2.25-1.875 1.243 0 2.25.84 2.25 1.875 0 .369-.128.713-.349 1.003-.215.283-.4.604-.4.959v0c0 .333.277.599.61.58a48.1 48.1 0 005.427-.63 48.05 48.05 0 00.582-4.717.532.532 0 00-.533-.57v0c-.355 0-.676.186-.959.401-.29.221-.634.349-1.003.349-1.035 0-1.875-1.007-1.875-2.25s.84-2.25 1.875-2.25c.37 0 .713.128 1.003.349.283.215.604.401.96.401v0a.656.656 0 00.658-.663 48.422 48.422 0 00-.37-5.36c-1.886.342-3.81.574-5.766.689a.578.578 0 01-.61-.58v0z" />
                    </svg>
                    Entertainment
                  </a>
                  <a href="#" class="text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 font-medium text-sm">
                    <svg class="text-white group-hover:text-white mx-3 h-4 w-4 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.098 19.902a3.75 3.75 0 005.304 0l6.401-6.402M6.75 21A3.75 3.75 0 013 17.25V4.125C3 3.504 3.504 3 4.125 3h5.25c.621 0 1.125.504 1.125 1.125v4.072M6.75 21a3.75 3.75 0 003.75-3.75V8.197M6.75 21h13.125c.621 0 1.125-.504 1.125-1.125v-5.25c0-.621-.504-1.125-1.125-1.125h-4.072M10.5 8.197l2.88-2.88c.438-.439 1.15-.439 1.59 0l3.712 3.713c.44.44.44 1.152 0 1.59l-2.879 2.88M6.75 17.25h.008v.008H6.75v-.008z" />
                    </svg>
                    Fashion
                  </a>
                </div>

                <a href="#" class="text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 my-4  font-medium">
                  <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 21v-7.5a.75.75 0 01.75-.75h3a.75.75 0 01.75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349m-16.5 11.65V9.35m0 0a3.001 3.001 0 003.75-.615A2.993 2.993 0 009.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 002.25 1.016c.896 0 1.7-.393 2.25-1.016a3.001 3.001 0 003.75.614m-16.5 0a3.004 3.004 0 01-.621-4.72L4.318 3.44A1.5 1.5 0 015.378 3h13.243a1.5 1.5 0 011.06.44l1.19 1.189a3 3 0 01-.621 4.72m-13.5 8.65h3.75a.75.75 0 00.75-.75V13.5a.75.75 0 00-.75-.75H6.75a.75.75 0 00-.75.75v3.75c0 .415.336.75.75.75z" />
                  </svg>
                  Brands
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="ml-2 mt-0.5 w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                  </svg>
                </a>

                <a href="#" class="text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 my-4  font-medium">
                  <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15a4.5 4.5 0 004.5 4.5H18a3.75 3.75 0 001.332-7.257 3 3 0 00-3.758-3.848 5.25 5.25 0 00-10.233 2.33A4.502 4.502 0 002.25 15z" />
                  </svg>
                  Your Orders
                </a>

                <a href="#" class="text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 my-4  font-medium">
                  <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 01-2.555-.337A5.972 5.972 0 015.41 20.97a5.969 5.969 0 01-.474-.065 4.48 4.48 0 00.978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25z" />
                  </svg>
                  Support Chat
                </a>

                <a href="#" class="text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 my-4  font-medium">
                  <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
                  </svg>
                  Saved Items
                </a>

              </nav>
            </div>

            <div class="flex flex-shrink-0 bg-black pr-4">
              <a href="#" class="w-full text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 my-4  font-medium">
                <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                </svg>
                Your Cart
                <span class="ml-2 text-center rounded-full bg-red-600 text-white font-medium pl-1.5 pr-2">2</span>
              </a>
            </div>

            <div id="profile-options" class="hidden absolute bottom-0 right-0 mr-3 mb-24 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200 hover:rounded-lg" role="menuitem" tabindex="-1" id="user-menu-item-0">Edit Profile</a>
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200 hover:rounded-lg" role="menuitem" tabindex="-1" id="user-menu-item-1">Your Feedback</a>
              <%= button_to destroy_user_session_path, method: :delete, class: "w-full text-left block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200 hover:rounded-lg" do %>Sign Out<% end %>
            </div>

            <% if current_user.present? %>
              <button id="profile" class="flex flex-shrink-0 bg-black px-4 pb-4">
                <div class="group block w-full flex-shrink-0">
                  <div class="flex items-center">
                    <div>
                      <img class="inline-block h-16 w-16 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    </div>
                    <div class="ml-3">
                      <p class="text-sm font-medium text-white">Tom Cook</p>
                      <p class="text-xs font-medium text-white group-hover:text-gray-200">Tap to see</p>
                    </div>
                  </div>
                </div>
              </button>
            <% else %>
              <div class="flex flex-shrink-0 bg-black pr-4">
                <%= link_to new_user_session_path, class: "w-full text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 mb-4 font-medium" do %>
                  <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
                  </svg>
                  Account
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="flex flex-1 flex-col lg:pl-64">
        <div class="sticky top-0 z-10 bg-gray-100 pl-1 pt-1 sm:pl-3 sm:pt-3 lg:hidden">
          <button type="button" class="-ml-0.5 -mt-0.5 inline-flex h-12 w-12 items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
            <span class="sr-only">Open sidebar</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
        <main class="flex-1">
          <div class="<%= params[:controller] == "home" && current_user.blank? ? "pb-6" : "py-6" %>">
            <div class="max-w-full mx-auto px-4 sm:px-6 md:px-8">
              <%= render 'shared/session_notifications' %>
              <% if params[:controller] == "home" && current_user.blank? %>
                <%= render 'shared/recomandation' %>
              <% end %>
              <%= yield %>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>


<script>

  var userMenuDiv = document.getElementById('profile-options');
  var profile = document.getElementById('profile');

  document.addEventListener('click', (event) => {

    const isClickInside = userMenuDiv.contains(event.target);
    const isClickOnProfile = profile.contains(event.target);

    if (!isClickInside) {
      if (isClickOnProfile)
        document.getElementById('profile-options').style.display = "block";
      else
        document.getElementById('profile-options').style.display = "none";
    }
  });

  function toggleProducts(){

    if(document.getElementById("products").style.display === "block"){
      document.getElementById("products").style.display = "none";
      document.getElementById("products-arrow-down").style.display = "block";
      document.getElementById("products-arrow-up").style.display = "none"
    }
    else{
      document.getElementById("products").style.display = "block";
      document.getElementById("products-arrow-down").style.display = "none";
      document.getElementById("products-arrow-up").style.display = "block";
    }

  }

</script>