<!DOCTYPE html>
<html>
  <head>
    <title>ADShopping</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <style>
      <%= ".side-#{current_user&.id}" %> {
        justify-content: flex-end;
      }
      <%= ".bgc-#{current_user&.id}" %> {
        background-color: #F7781A !important;
        margin-right: 8px;
        margin-left: 0px;
        border-top-left-radius: 1.5rem;
        border-bottom-right-radius: 0.75rem;
        border-bottom-left-radius: 1.5rem; 
      }
      <%= ".hidethis-#{current_user&.id}" %>{
        display: none;
      }
    </style>
  </head>

  <body>
    <div>
      <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
  
      <!-- Static sidebar for desktop -->
      <% unless ["devise/sessions", "devise/registrations"].include? params[:controller] %>
        <div class="hidden lg:fixed lg:inset-y-0 lg:flex lg:w-64 lg:flex-col">
          <!-- Sidebar component, swap this element with another sidebar if you like -->
          <div class="flex min-h-0 flex-1 flex-col bg-black border-r-2  border-gray-700">
            <div class="flex flex-1 flex-col overflow-y-auto pt-5 pb-4">
              <div class="flex flex-shrink-0 items-center px-2 -mt-8 w-full">
                <%= image_tag "logo.png", class: "h-15 -ml-3" %>
              </div>
              <nav class="flex-1 space-y-1 px-2">
                <% if current_user.nil? || current_user.client? %>
                  <%= link_to root_path, class: "text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 font-medium" do %>
                    <svg class="text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                    </svg>
                    Home
                  <% end %>

                  <%= link_to products_path, class: "w-full text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 font-medium" do %>
                    <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                    </svg>
                    All Products
                  <% end %>

                  <%= link_to brands_path, class: "text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 my-4  font-medium" do %>
                    <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 21v-7.5a.75.75 0 01.75-.75h3a.75.75 0 01.75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349m-16.5 11.65V9.35m0 0a3.001 3.001 0 003.75-.615A2.993 2.993 0 009.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 002.25 1.016c.896 0 1.7-.393 2.25-1.016a3.001 3.001 0 003.75.614m-16.5 0a3.004 3.004 0 01-.621-4.72L4.318 3.44A1.5 1.5 0 015.378 3h13.243a1.5 1.5 0 011.06.44l1.19 1.189a3 3 0 01-.621 4.72m-13.5 8.65h3.75a.75.75 0 00.75-.75V13.5a.75.75 0 00-.75-.75H6.75a.75.75 0 00-.75.75v3.75c0 .415.336.75.75.75z" />
                    </svg>
                    Brands
                  <% end %>

                  <% if current_user.present? %>
                    <%= link_to orders_path, class: "text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 my-4  font-medium" do %>
                      <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15a4.5 4.5 0 004.5 4.5H18a3.75 3.75 0 001.332-7.257 3 3 0 00-3.758-3.848 5.25 5.25 0 00-10.233 2.33A4.502 4.502 0 002.25 15z" />
                      </svg>
                      Your Orders
                    <% end %>

                    <%= link_to room_path(Room.first), class: "text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 my-4  font-medium" do %>
                      <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 01-2.555-.337A5.972 5.972 0 015.41 20.97a5.969 5.969 0 01-.474-.065 4.48 4.48 0 00.978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25z" />
                      </svg>
                      Support Chat
                    <% end %>

                    <%= link_to products_path(favorites_only: true), class: "text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 my-4  font-medium" do %>
                      <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
                      </svg>
                      Saved Items
                    <% end %>
                  <% else %>
                    <button onclick="must_auth()" class= "text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 my-4  font-medium" >
                      <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15a4.5 4.5 0 004.5 4.5H18a3.75 3.75 0 001.332-7.257 3 3 0 00-3.758-3.848 5.25 5.25 0 00-10.233 2.33A4.502 4.502 0 002.25 15z" />
                      </svg>
                      Your Orders
                    </button>

                    <button onclick="must_auth()" class="text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 my-4  font-medium">
                      <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 01-2.555-.337A5.972 5.972 0 015.41 20.97a5.969 5.969 0 01-.474-.065 4.48 4.48 0 00.978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25z" />
                      </svg>
                      Support Chat
                    </a>

                    <button onclick="must_auth()" class= "text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 my-4  font-medium" >
                      <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
                      </svg>
                      Saved Items
                    </button>
                  <% end %>
                <% elsif current_user.staff? %>
                  <% brand = current_user.brand %>

                  <%= link_to products_path(brand: brand.name), class: "w-full text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 font-medium" do %>
                    <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                    </svg>
                    Products
                  <% end %>

                  <%= link_to discounts_path, class: "w-full text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 font-medium" do %>
                    <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 11.25v8.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 109.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1114.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                    </svg>

                    Coupons
                  <% end %>

                  <%= link_to sales_report_path, class: "w-full text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 font-medium" do %>
                    <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3v11.25A2.25 2.25 0 006 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0118 16.5h-2.25m-7.5 0h7.5m-7.5 0l-1 3m8.5-3l1 3m0 0l.5 1.5m-.5-1.5h-9.5m0 0l-.5 1.5m.75-9l3-3 2.148 2.148A12.061 12.061 0 0116.5 7.605" />
                    </svg>
                    Sales Report
                  <% end %>

                  <%= link_to room_path(Room.find_by(name: brand.name)), class: "text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 my-4  font-medium" do %>
                    <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 01-2.555-.337A5.972 5.972 0 015.41 20.97a5.969 5.969 0 01-.474-.065 4.48 4.48 0 00.978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25z" />
                    </svg>
                    Support Chat
                  <% end %>
                <% else %>
                  <%= link_to brands_path, class: "text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 my-4  font-medium" do %>
                    <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 21v-7.5a.75.75 0 01.75-.75h3a.75.75 0 01.75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349m-16.5 11.65V9.35m0 0a3.001 3.001 0 003.75-.615A2.993 2.993 0 009.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 002.25 1.016c.896 0 1.7-.393 2.25-1.016a3.001 3.001 0 003.75.614m-16.5 0a3.004 3.004 0 01-.621-4.72L4.318 3.44A1.5 1.5 0 015.378 3h13.243a1.5 1.5 0 011.06.44l1.19 1.189a3 3 0 01-.621 4.72m-13.5 8.65h3.75a.75.75 0 00.75-.75V13.5a.75.75 0 00-.75-.75H6.75a.75.75 0 00-.75.75v3.75c0 .415.336.75.75.75z" />
                    </svg>
                    Brands
                  <% end %>

                  <%= link_to users_path, class: "w-full text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 font-medium" do %>
                    <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                    </svg>
                    Users
                  <% end %>

                  <%= link_to sales_report_path, class: "w-full text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 font-medium" do %>
                    <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3v11.25A2.25 2.25 0 006 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0118 16.5h-2.25m-7.5 0h7.5m-7.5 0l-1 3m8.5-3l1 3m0 0l.5 1.5m-.5-1.5h-9.5m0 0l-.5 1.5m.75-9l3-3 2.148 2.148A12.061 12.061 0 0116.5 7.605" />
                    </svg>
                    Sales Report
                  <% end %>

                  <%= link_to room_path(Room.first), class: "text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 my-4  font-medium" do %>
                    <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 01-2.555-.337A5.972 5.972 0 015.41 20.97a5.969 5.969 0 01-.474-.065 4.48 4.48 0 00.978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25z" />
                    </svg>
                    Support Chat
                  <% end %>

                <% end %>

              </nav>
            </div>

            <% if current_user.nil? || current_user.client? %>

              <div class="flex flex-shrink-0 bg-black pr-4">
                <%= link_to my_cart_path, class: "w-full text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 my-4 font-medium" do %>
                  <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                  </svg>
                  Your Cart
                  <% if session[:cart].present? %>
                    <span class="ml-2 text-center rounded-full bg-red-600 text-white font-medium pl-1.5 pr-2"><%=(session[:cart].keys.reject { |key| key == "promo" }.count rescue 0)%></span>
                  <% end %>
                <% end %>
              </div>

              <% end %>

            <% if current_user.present? %>
              <div id="profile-options" class="hidden absolute bottom-0 right-0 mr-3 mb-24 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                <%= link_to edit_user_path(current_user), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200 hover:rounded-lg" do %>
                  Edit Profile
                <% end %>
                <%= button_to destroy_user_session_path, method: :delete, class: "w-full text-left block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200 hover:rounded-lg" do %>Sign Out<% end %>
              </div>
            <% end %>

            <% if current_user.present? %>
              <button id="profile" class="flex flex-shrink-0 bg-black px-4 pb-4">
                <div class="group block w-full flex-shrink-0">
                  <div class="flex items-center">
                    <div>
                      <img class="inline-block h-16 w-16 rounded-full" src="<%=(current_user.image.url || "https://adshopping.s3.eu-north-1.amazonaws.com/uploads/users/unkown/unknown.jpg")%>">
                    </div>
                    <div class="ml-3">
                      <p class="text-sm font-medium text-white"><%=current_user.full_name.blank? ? "Your Profile" : current_user.full_name %></p>
                      <p class="text-xs font-medium text-white group-hover:text-gray-200">Tap to see</p>
                    </div>
                  </div>
                </div>
              </button>
            <% else %>
              <div class="flex flex-shrink-0 bg-black pr-4">
                <%= link_to new_user_session_path, class: "w-full text-white hover:bg-neutral-900 hover:text-white hover:rounded-full group flex items-center rounded-md px-5 py-5 mb-4 font-medium" do %>
                  <svg class="text-white group-hover:text-white mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
                  </svg>
                  Account
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="flex flex-1 flex-col <%= params[:controller] == "devise/registrations" ? "" : "lg:pl-64"%>">
        <div class="sticky top-0 z-10 bg-gray-100 pl-1 pt-1 sm:pl-3 sm:pt-3 lg:hidden">
          <button type="button" class="-ml-0.5 -mt-0.5 inline-flex h-12 w-12 items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
            <span class="sr-only">Open sidebar</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
        <main class="flex-1">
          <div class="<%= params[:controller] == "home" && current_user.blank? ? "pb-6" : "py-2" %>">
            <div class="max-w-full mx-auto px-4 sm:px-6 md:px-8 h-screen">
              <%= render 'shared/session_notifications' %>
              <% if params[:controller] == "home" && current_user.blank? %>
                <%= render 'shared/recomandation' %>
              <% end %>
              <%= render 'shared/authenticate' %>
              <%= yield %>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>


<script>

  function must_auth(){
    document.getElementById("auth_modal").style.display = "block";
  }
  
  var userMenuDiv = document.getElementById('profile-options');
  var profile = document.getElementById('profile');

  document.addEventListener('click', (event) => {

    const isClickInside = userMenuDiv.contains(event.target);
    const isClickOnProfile = profile.contains(event.target);

    if (!isClickInside) {
      if (isClickOnProfile)
        document.getElementById('profile-options').style.display = "block";
      else
        document.getElementById('profile-options').style.display = "none";
    }
  });




</script>